<h1>Fake Sign In</h1>

<p>
  When a user signs in, they should be brought to the proper
  Ember route based the selected agent. For the example we'll
  link the inbox for the agent with the ID of 500:
</p>

<p>
  {{link-to "agent/500/inbox" "agent.inbox" agent}}
</p>
