<h1>Favorites</h1>

<ul>
  <li>
    {{#link-to "agent.favorites.index"}}
      List View
    {{/link-to}}
  </li>

  <li>
    {{#link-to "agent.favorites.gallery"}}
      Gallery View
    {{/link-to}}
  </li>

  <li>
    {{#link-to "agent.favorites.map"}}
      Map View
    {{/link-to}}
  </li>
</ul>

{{outlet}}
