<h1>Inbox</h1>

<ul>
  <li>
    {{#link-to "agent.inbox.index"}}
      List View
    {{/link-to}}
  </li>

  <li>
    {{#link-to "agent.inbox.gallery"}}
      Gallery View
    {{/link-to}}
  </li>

  <li>
    {{#link-to "agent.inbox.map"}}
      Map View
    {{/link-to}}
  </li>
</ul>

{{outlet}}
