<h1>Likes</h1>

<ul>
  <li>
    {{#link-to "agent.likes.index"}}
      List View
    {{/link-to}}
  </li>

  <li>
    {{#link-to "agent.likes.gallery"}}
      Gallery View
    {{/link-to}}
  </li>

  <li>
    {{#link-to "agent.likes.map"}}
      Map View
    {{/link-to}}
  </li>
</ul>

{{outlet}}

